<form [formGroup]="articleForm" class="tao-form" (ngSubmit)="onSubmit($event)">
  <div class="card">
    <div class="card-header">
      <h2 class="card-title">{{title}}</h2>
    </div>
    <div class="card-body">
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control is-valid" formControlName="title" id="title">
        <small id="titleHelp" class="form-text text-muted">Title must be not longer than 32 characters.</small>
        <div *ngIf="hasErrors('title')" class="invalid-feedback">
          <div *ngIf="hasError('title', 'required')">
            Title is required
          </div>
          <div *ngIf="hasError('title', 'maxlength')">
            Title is too long
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="text">Text</label>
        <textarea formControlName="text" class="form-control is-valid" id="text" autoExpand></textarea>
        <div *ngIf="hasErrors('text')" class="invalid-feedback">
          <div *ngIf="hasError('text', 'required')">
            Text is required
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="custom-file">
          <input type="file" id="image"
                 (click)="onFileInputClick()" ng2FileSelect [uploader]="uploader"
                 class="custom-file-input">
          <span class="custom-file-control"></span>
        </label>
        <p class="text-danger" *ngIf="!currentFile && !articleImage">
          Image is required
        </p>
      </div>
      <div class="form-group d-flex justify-content-center" *ngIf="currentFile || articleImage">
        <img class="preview" src="" *ngIf="currentFile" imgPreview [image]="currentFile._file" alt="">
        <img class="preview" [src]="articleImage" *ngIf="articleImage && !currentFile" alt="">
      </div>
      <button type="submit" class="btn btn-outline-dark">SUBMIT</button>
    </div>
  </div>
</form>
