<form [formGroup]="userForm" (ngSubmit)="onSubmit($event)">
  <div class="card">
    <div class="card-header">
      Create new user
    </div>
    <div class="card-body">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control is-valid" formControlName="username" id="username"
               placeholder="Enter username">
        <div *ngIf="hasErrors('username')" class="invalid-feedback">
          <div *ngIf="hasError('username', 'required')">
            Username is required
          </div>
          <div *ngIf="hasError('username', 'unique')">
            User with that username already exists
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control  is-valid" formControlName="email" id="email" placeholder="Enter email">
        <div *ngIf="hasErrors('email')" class="invalid-feedback">
          <div *ngIf="hasError('email', 'required')">
            Email is required
          </div>
          <div *ngIf="hasError('email', 'email')">
            Email invalid
          </div>
          <div *ngIf="hasError('email', 'unique')">
            User with that email already exists
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control is-valid" formControlName="password" id="password"
               placeholder="Password">
        <div *ngIf="hasErrors('password')" class="invalid-feedback">
          <div *ngIf="hasError('password', 'required')">
            Password is required
          </div>
          <div *ngIf="hasError('password', 'minlength')">
            Password must be longer than {{hasError('password', 'minlength').requiredLength}}
          </div>
          <div *ngIf="hasError('password', 'maxlength')">
            Password must be shorter than {{hasError('password', 'maxlength').requiredLength}}
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="role_id">Role</label>
        <select class="form-control" id="role_id" formControlName="role_id">
          <option *ngFor="let role of roles" [value]="role.id">{{role.name}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="firstName">First name</label>
        <input type="text" class="form-control is-valid" formControlName="firstName" id="firstName"
               placeholder="Enter first name">
      </div>
      <div class="form-group">
        <label for="lastName">Last name</label>
        <input type="text" class="form-control is-valid" formControlName="lastName" id="lastName"
               placeholder="Enter last name">
      </div>

    </div>
    <div class="card-footer">
      <div class="mt-1 d-flex justify-content-end">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </div>
  </div>
</form>
