<ul class="comments-block__list">
  <li *ngFor="let comment of comments"
      class="comments-block__list-item"
      app-comments-list-item
      [comment]="comment"
      [currentUser]="currentUser"
      (deleteClick)="onDeleteClick($event)"
      (commentUpdated)="onCommentUpdated($event)"></li>
</ul>
