<button type="button" class="btn {{buttonStyle}}" (click)="openModal(template)">Change avatar</button>

<ng-template #template>
  <div class="tao-form">
    <div class="modal-header">
      <h4 class="modal-title pull-left">Change avatar</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body p-auto">
      <form (ngSubmit)="onSubmit($event)">
        <label class="custom-file change-avatar__custom-file">
          <input type="file" (click)="onFileInputClick()"
                 ng2FileSelect [uploader]="uploader"
                 id="file2" class="custom-file-input">
          <span class="custom-file-control"></span>
        </label>
        <div class="form-group d-flex justify-content-center" *ngIf="currentFile">
          <img class="preview" src="" imgPreview [image]="currentFile._file" alt="">
        </div>
        <div class="form-group">
          <p class="text-center text-danger">{{formError}}</p>
        </div>
        <div class="form-group d-flex justify-content-center">
          <button type="submit" class="btn {{buttonStyle}}">Save</button>
        </div>
      </form>
    </div>
  </div>
</ng-template>
