
body {
    font-family: 'Graton', serif !important;
}




.page-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 150px;
  padding: 30px;
  background-color: #fff;
  box-shadow: 0 0 3px 0 black;
}

.page-title > h1 {
  display: block;
  text-align: center;
}

.page-title__nav {
  display: block;
  margin: 10px 0 10px 0;
  width: auto;
}

.page-title__navbar {
  margin: 0;
  padding: 0;
}

.page-title__nav-item {
  display: inline-block;
  position: relative;
  margin: 5px 20px 5px 20px;
  min-width: 100px;
  border: 1px solid transparent;
  padding: 2px 10px 2px 10px;
  text-align: center;
  cursor: pointer;
  outline: none;
}

.page-title__nav-item.active::after, .page-title__nav-item:hover::after {
  position: absolute;
  margin: auto;
  top: -50%;
  left: 10%;
  content: " ";
  width: 80%;
  height: 20px;
  background: url('../../assets/navbar/Ornamented Header/Ornamented-Header-Bottom.png') no-repeat center;
  background-size: 100% 100%;
  transform: rotateX(180deg);
}

.page-title__nav-item.active::before, .page-title__nav-item:hover::before  {
  position: absolute;
  margin: auto;
  left: 10%;
  bottom: -50%;
  content: " ";
  width: 80%;
  height: 20px;
  background: url('../../assets/navbar/Ornamented Header/Ornamented-Header-Bottom.png') no-repeat center;
  background-size: 100% 100%;
}

.page-title__nav-item.active {
  border: 1px solid #000000;
}

.page-title__nav-item:hover {
  border: 1px solid rgba(0,0,0,0.7);
}

@media screen and (max-width: 575px) {
  .page-title__nav-item.active::before, .page-title__nav-item:hover::before {
    display: none;
  }

  .page-title__nav-item.active::after, .page-title__nav-item:hover::after {
    display: none;
  }

  .page-title__nav-item {
    margin: 0;
    padding: 0;
  }
}



//body {
//    background: url('../../assets/Landing-Page-Content-bg.gif') no-repeat fixed center !important;
//    background-size: 100% 100%;
//}
