.comment-block {
  display: flex;
  flex-direction: column;
  border: 1px solid #000000;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  width: 100%;
}

.comment-header {
  display: flex;
  position: relative;
  font-size: 18px;
  font-weight: bold;
  justify-content: space-between;
  padding: 5px 30px 5px 10px;
  border-bottom: 1px solid #000000;
}

.comment-body {
  width: 100%;
  height: auto;
  font-size: 18px;
}

.comment-body__text {
  width: 100%;
  padding: 5px 10px;
  border: 2px solid transparent;
  margin: 0;
  outline: none;
  resize: none;
  overflow: hidden;
}

.comment-body__text.active {
  resize: vertical;
  border: 2px solid rgb(0, 143, 157);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: rgba(0,0,0,0.05);
}

.comment-header__close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
}

