<div class="comment-block" *ngIf="comment">
  <div class="comment-header">
    <div class="comment-header__title">{{comment.author.username}}</div>
    <div class="comment-header__date">{{comment.createDate}}</div>
    <button type="button" class="comment-header__close close pull-right" aria-label="Close"
            *ngIf="canDelete" (click)="onDeleteClick()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="comment-body">
    <textarea name="commentText" *ngIf="canUpdate"
              class="comment-body__text"
              [ngClass]="{'active': isEditorActivated}"
              [value]="comment.text"
              editOnDoubleClick
              autoExpand
              rows="1"
              [initialState]="true"
              (state)="onEdit($event)"
              (editEnded)="onEditEnded($event)"></textarea>
    <textarea readonly class="comment-body__text" *ngIf="!canUpdate" autoExpand>{{comment.text}}</textarea>
  </div>
</div>
