<form [formGroup]="userForm" class="tao-form settings-form" (ngSubmit)="onSubmit($event)">
  <div class="card">
    <div class="card-header">Settings</div>
    <div class="card-body">
      <div class="form-group row">
        <label for="firstName" class="col-12 col-sm-2 col-form-label">First name</label>
        <input class="form-control col-12 col-sm-10" type="text" formControlName="firstName" id="firstName" placeholder="Enter first name">
      </div>
      <div class="form-group row">
        <label for="lastName" class="col-12 col-sm-2 col-form-label">Last name</label>
        <input class="form-control col-12 col-sm-10" type="text" formControlName="lastName" id="lastName" placeholder="Enter last name">
      </div>
      <div class="form-group row">
        <label for="lastName" class="col-12 col-sm-2 col-form-label">Password</label>
        <app-change-password [buttonStyle]="'btn-dark'" [user]="currentUser" (passwordChanged)="onPasswordChanged($event)"></app-change-password>
      </div>
      <div class="form-group d-flex flex-column justify-content-center align-items-center">
        <img [src]="currentUser.avatar" *ngIf="currentUser.avatar" class="avatar-preview m-2" alt="">
        <app-change-avatar [buttonStyle]="'btn-dark'" [user]="currentUser" (avatarUpdated)="onAvatarUpdated($event)"></app-change-avatar>
        <!-- <button class="btn btn-outline-primary" (click)="openChangeAvatarModal()">Change avatar</button>                           -->
      </div>

      <div class="d-flex justify-content-end mt-5">
        <button class="btn btn-dark right" type="submit">Save</button>
      </div>
    </div>
  </div>
</form>
