.userbar {
    margin-left: auto;
    margin-right: 0;
    color: #fff !important;
}

.userbar__avatar {
    width: 24px;
    height: 24px;
}

.custom-button {
    color: #fff !important;
    border: 1px solid #fff;
}

.custom-button:hover {
    opacity: 0.7;
}

.custom-button > i {
    margin-right: 5px;
}
