<nav class="navbar navbar-expand-lg navbar-dark bg-success">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
    aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse" [collapse]="isCollapsed" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/']" href="#">TO SITE</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/admin']">USERS LIST</a>
      </li>
    </ul>
    <ul class="userbar navbar-nav">
      <li class="nav-item" *ngIf="isAdmin">
        <a [routerLink]="['/admin', 'users', 'create']" class="nav-link custom-button">
          <i class="fa fa-plus" aria-hidden="true"></i>
          <span>Create user</span>
        </a>
      </li>
      <li class="nav-item dropdown" *ngIf="currentUser" dropdown placement="left">
        <a class="nav-link dropdown-toggle" dropdownToggle id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          <img class="userbar__avatar" [src]="currentUser.avatar" alt=""> {{currentUser.username}}
        </a>
        <div *dropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" [routerLink]="['/admin']" *ngIf="isAdmin || isPremium">Admin</a>
          <a class="dropdown-item" [routerLink]="['/authentication', 'logout']">Logout</a>          
        </div>
      </li>
    </ul>
  </div>
</nav>
