<hr *ngIf="hasPermissions">
<form [formGroup]="createCommentForm" (ngSubmit)="onSubmit($event)"
      class="comments-block__input-block" *ngIf="hasPermissions">
  <div class="input-group">
    <input type="text" class="form-control form-control-sm comments-block__input-block__input"
           formControlName="text"
           placeholder="Add comment">
    <span class="input-group-btn">
          <button type="submit" class="btn btn-secondary comments-block__input-block__button">Submit</button>
        </span>
  </div>
</form>
