html(lang="en")
  head
    meta(charset="UTF-8")
    base(href="/")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
  body
    app-root
    script(src="/inline.bundle.js")
    script(src="/polyfills.bundle.js")
    script(src="/scripts.bundle.js")
    script(src="/styles.bundle.js")
    script(src="/vendor.bundle.js")
    script(src="/main.bundle.js")
