:host {
  font-family: 'Graton', serif !important;
}

.to-top {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 50px;
  padding: 5px 10px;
  background-color: #000000;
  border: none;
  outline: none;
  color: #fff;
  z-index: 999;
}


$tao-block-p-font-size: 24px;
$tao-block-header-font-size: 32px;
$tao-block-text-font-size: 36px;

.tao-block {
  display: flex;
  position: relative;

  width: 100%;
  height: 700px;
  box-sizing: border-box;
  border: 20px solid #000000;
  justify-content: center;
  align-items: center;
  font-style: italic;
  // padding: 200px;
  z-index: 100;
}

.tao-block__wrapper {
  background: url('../../../assets/block-border.gif') center;
  background-size: 102% 102%;
  z-index: 100;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.tao-frame {
  position: relative;
  height: calc(100% + 100px);
}

.tao-block__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
}

.tao-block__header {
  font-weight: bold;
  font-size: $tao-block-header-font-size;
  text-align: center;
}

.tao-block p {
  font-size: $tao-block-p-font-size;
  font-weight: bold;
  text-align: center;
  padding: 0;
  margin: 0;
}

.tao-block__text {
  font-size: $tao-block-text-font-size !important;
  text-align: center !important;
  font-style: normal !important;
  font-family: "Goudy Old Style", sans-serif;
}

.tao-block__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 100;
}

.tao-block__content > * {
  margin: 30px !important;
}

.tao-block__card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 3px solid black;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
  width: 230px;
  padding: 10px;
  margin: 20px;
}

.tao-block__card::after {
  position: absolute;
  margin: auto;
  bottom: -30px;
  left: calc(45% - 80px);
  content: " ";
  width: 180px;
  height: 40px;
  background: url('../../../assets/navbar/Ornamented Header/Ornamented-Header-Bottom.png') no-repeat center;
  background-size: 100% 100%;
}

.tao-block__card::before {
  position: absolute;
  margin: auto;
  top: -30px;
  left: calc(45% - 80px);
  content: " ";
  width: 180px;
  height: 40px;
  background: url('../../../assets/navbar/Ornamented Header/Ornamented-Header-Bottom.png') no-repeat center;
  background-size: 100% 100%;
  transform: rotateX(180deg);
}

.tao-block__card-header__title {
  position: relative;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
}

.tao-block__card-header__subtitle {
  position: relative;
  font-size: 22px;
  font-style: normal;
  font-weight: bold;
}

.tao-block__card-header__title::after {
  position: absolute;
  height: 1px;
  width: 100%;
  content: " ";
  bottom: 0;
  left: 0;
  background-color: #000000;
}

.tao-block__card-body {

}

.tao-block__card-body__image {
  width: 180px;
  height: 180px;
}

.tao-block__card-footer {
  font-size: 22px;
  font-style: italic;
  font-weight: bold;
}

.tao-block__red-button {
  display: flex;
  align-items: center;
  font-size: $tao-block-header-font-size;
  padding: 10px 40px 10px 40px;
  background-color: red;
  color: white;
  border: none;
}

.tao-block__red-button img {
  // width: 100%;
  height: 40px;
  -webkit-filter: brightness(10);
  filter: brightness(10);
}

.tao-block__red-button__big {
}

.tao-block__red-button__big img {
  height: 80px;
}

.tao-block__card-container {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.tao-block-container__delimiter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: #ffffff;
  z-index: -100;
  box-shadow: 0 0 3px 0 black;
}

.tao-block-container__delimiter-link {
  display: flex;
  height: 100%;
  transform: translateY(-100%);
  transition: transform .5s ease-out;
}

.tao-block-container__delimiter-link.visible {
  transform: translateY(0);
}

.tao-block-container__delimiter-link__image {
  display: block;
  margin: auto;
  width: 50%;
}

@media screen and (max-width: 991px) {
  $tao-block-p-font-size: 18px;
  $tao-block-header-font-size: 24px;

  .tao-block {
    background-image: none;
  }

  .tao-block__card::before {
    display: none;
  }

  .tao-block__card::after {
    display: none;
  }

  .tao-block__wrapper {
    display: none;
  }

  .tao-block__header {
    font-size: $tao-block-header-font-size;
  }

  .tao-block__text {
    font-size: $tao-block-header-font-size;
  }

  .tao-block__content p {
    font-size: $tao-block-p-font-size;
  }

  .tao-block__card {
    width: auto;
  }

  .tao-block__card-body__image {
    width: 90px;
    height: 90px;
  }
}

@media screen and (max-width: 575px) {
  .tao-block__card-container {
    flex-direction: column;
  }

  .tao-block__card-container {
    width: 100%;
  }

  .tao-block__card {
    width: auto;
  }

  .tao-block {
    border: 3px solid #000000;
  }

  .tao-block__content > * {
    margin: 20px !important;
  }

  .tao-block__card-body__image {
    display: none;
  }
}

