<div class="page-title" id="pageTitle">
  <h1>WELCOME TO THE WORLD OF THE ART OF DRESS</h1>
</div>
<section class="tao-block-container" id="frame-container">
  <article class="tao-block" scrollSpy (scrollPercent)="onFrameScrolling('frame-1', $event)" id="frame-1">
    <div class="tao-block__wrapper"></div>
    <img class="tao-block__background" src="../../../assets/landing_page/components/Landing-Page-Image-1.gif" alt="">
    <div class="tao-block__content">
      <h2 class="tao-block__header">The Art of Dress
        <br> is A Spiritual Path
      </h2>
      <ul class="tao-block__card-container">
        <li class="tao-block__card">
          <p>Style
            <br> Reflect Your Body</p>
        </li>
        <li class="tao-block__card">
          <p>Color
            <br> Projects Your Soul</p>
        </li>
        <li class="tao-block__card">
          <p>Artistry
            <br> Embraces Your Spirit</p>
        </li>
      </ul>
      <p class="m-2">Cherish Your Individuality
        <br> Discover The Possibilities of The Art of Dress</p>
      <button class="tao-block__red-button m-2">
        <img src="../../../assets/landing_page/components/BEGIN.png" alt="">
      </button>
    </div>
  </article>
  <div class="tao-block-container__delimiter">
    <a scrollTo="frame-2" class="tao-block-container__delimiter-link" [ngClass]="{'visible': isFrameDelimiterVisible('frame-1')}">
      <img class="tao-block-container__delimiter-link__image"
           src="../../../assets/navbar/Ornamented Header/Ornamented-Header-Bottom.png" alt="">
    </a>
  </div>
  <article class="tao-block" id="frame-2" scrollSpy (scrollPercent)="onFrameScrolling('frame-2', $event)">
    <div class="tao-block__wrapper"></div>
    <img class="tao-block__background" src="../../../assets/landing_page/components/Landing-Page-Image-2.gif" alt="">
    <div class="tao-block__content">
      <h2 class="tao-block__header">
        In Wearing Our Style,
        <br> We Form A Connection To Our Bodies,
        <br> Out Bodies Are Forgotten Temples To The Divine.
      </h2>
      <p class="tao-block__text">
        THERE ARE 13 STYLES
      </p>
    </div>
  </article>
  <div class="tao-block-container__delimiter">
    <a scrollTo="frame-3" class="tao-block-container__delimiter-link" [ngClass]="{'visible': isFrameDelimiterVisible('frame-2')}">
      <img class="tao-block-container__delimiter-link__image"
           src="../../../assets/navbar/Ornamented Header/Ornamented-Header-Bottom.png" alt="">
    </a>
  </div>
  <article class="tao-block" id="frame-3" scrollSpy (scrollPercent)="onFrameScrolling('frame-3', $event)">
    <div class="tao-block__wrapper"></div>
    <img class="tao-block__background" src="../../../assets/landing_page/components/Landing-Page-Image-3.gif" alt="">
    <div class="tao-block__content">
      <h2 class="tao-block__header">
        Im Living in Our Colors,
        <br> We Form A Connection To Our Inner Being,
        <br> Out Inner Being is Also Called Our Soul.
      </h2>
      <p class="tao-block__text">
        THERE ARE TWELVE COLOR ELEMENTS
      </p>
    </div>
  </article>
  <div class="tao-block-container__delimiter">
    <a scrollTo="frame-4" class="tao-block-container__delimiter-link" [ngClass]="{'visible': isFrameDelimiterVisible('frame-3')}">
      <img class="tao-block-container__delimiter-link__image"
           src="../../../assets/navbar/Ornamented Header/Ornamented-Header-Bottom.png" alt="">
    </a>
  </div>
  <article class="tao-block" id="frame-4" scrollSpy (scrollPercent)="onFrameScrolling('frame-4', $event)">
    <div class="tao-block__wrapper"></div>
    <img class="tao-block__background" src="../../../assets/landing_page/components/Landing-Page-Image-4.gif" alt="">
    <div class="tao-block__content">
      <h2 class="tao-block__header">
        Im Displaying Our Artistry,
        <br> We Form A Connection To Out Inner Being,
        <br> Our Inner Being is Also Called Out Soul.
      </h2>
      <p class="tao-block__text">
        THERE ARE FOUR ARTISTIC TYPES
      </p>
    </div>
  </article>
  <div class="tao-block-container__delimiter">
    <a scrollTo="frame-5" class="tao-block-container__delimiter-link" [ngClass]="{'visible': isFrameDelimiterVisible('frame-4')}">
      <img class="tao-block-container__delimiter-link__image"
           src="../../../assets/navbar/Ornamented Header/Ornamented-Header-Bottom.png" alt="">
    </a>
  </div>
  <article class="tao-block" id="frame-5" scrollSpy (scrollPercent)="onFrameScrolling('frame-5', $event)">
    <div class="tao-block__wrapper"></div>
    <img class="tao-block__background" src="../../../assets/landing_page/components/Landing-Page-Image-5.gif" alt="">
    <div class="tao-block__content">
      <h2 class="tao-block__header">
        Your Personaly Combine
      </h2>
      <ul class="tao-block__card-container">
        <li class="tao-block__card">
          <div class="tao-block__card-header__title">ONE</div>
          <div class="tao-block__card-header__subtitle">Style</div>
          <div class="tao-block__card-body">
            <img src="" class="tao-block__card-body__image " alt="">
          </div>
          <div class="tao-block__card-footer">
            <p>You Represent 1 of 13 Styles</p>
          </div>
        </li>
        <li class="tao-block__card">
          <div class="tao-block__card-header__title">ONE</div>
          <div class="tao-block__card-header__subtitle">Color Element</div>
          <div class="tao-block__card-body">
            <img src="" class="tao-block__card-body__image" alt="">
          </div>
          <div class="tao-block__card-footer">
            <p>You Are 1 of 12 Color Elements</p>
          </div>
        </li>
        <li class="tao-block__card">
          <div class="tao-block__card-header__title">ONE</div>
          <div class="tao-block__card-header__subtitle">Artistic Type</div>
          <div class="tao-block__card-body">
            <img src="" class="tao-block__card-body__image" alt="">
          </div>
          <div class="tao-block__card-footer">
            <p>You Are 1 of 4 Artistic Types</p>
          </div>
        </li>
      </ul>
    </div>
  </article>
  <div class="tao-block-container__delimiter">
  <a scrollTo="frame-6" class="tao-block-container__delimiter-link" [ngClass]="{'visible': isFrameDelimiterVisible('frame-5')}">
    <img class="tao-block-container__delimiter-link__image"
         src="../../../assets/navbar/Ornamented Header/Ornamented-Header-Bottom.png" alt="">
  </a>
</div>
  <article class="tao-block" id="frame-6" scrollSpy (scrollPercent)="onFrameScrolling('frame-5', $event)">
    <div class="tao-block__wrapper"></div>
    <img class="tao-block__background" src="../../../assets/landing_page/components/Landing-Page-Image-6.gif" alt="">
    <div class="tao-block__content">
      <p class="tao-block__text">
        THE ART OF DRESS READING
      </p>
      <h2 class="tao-block__header">
        The path of the Art of Dress will enrich your life <br>
        with beauty and bring light into your day <br>
        Embark on your journey.
      </h2>
      <button class="tao-block__red-button tao-block__red-button__big m-2">
        <img src="../../../assets/landing_page/components/BEGIN.png" alt="">
      </button>
    </div>
  </article>
</section>
<button class="to-top"
        scrollTo="pageHeader"
        [ngClass]="{'invisible': !toTopVisible, 'visible': toTopVisible}">
  <i class="fa fa-angle-up" aria-hidden="true"></i>
</button>
