<form class="tao-form authentication-form" [formGroup]="signUpForm" (ngSubmit)="onSubmit($event)">
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Sign in system</h4>
    </div>
    <div class="card-body">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" required class="form-control is-valid" id="username" formControlName="username" placeholder="Enter username">
        <div *ngIf="hasErrors('username')" class="invalid-feedback">
          <div *ngIf="hasError('username', 'required')">
            Username is required
          </div>
          <div *ngIf="hasError('username', 'unique')">
            User with that username already exists
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="">Email address</label>
        <input type="email" required class="form-control is-valid" id="email" formControlName="email" aria-describedby="emailHelp"
               placeholder="Enter email">
        <div *ngIf="hasErrors('email')" class="invalid-feedback">
          <div *ngIf="hasError('email', 'required')">
            Email is required
          </div>
          <div *ngIf="hasError('email', 'email')">
            Email invalid
          </div>
          <div *ngIf="hasError('email', 'unique')">
            User with that email already exists
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" required class="form-control is-valid" formControlName="password" id="password" placeholder="Password">
        <div *ngIf="hasErrors('password')" class="invalid-feedback">
          <div *ngIf="hasError('password', 'required')">
            Password is required
          </div>
          <div *ngIf="hasError('password', 'minlength')">
            Password must be longer than {{hasError('password', 'minlength').requiredLength}}
          </div>
          <div *ngIf="hasError('password', 'maxlength')">
            Password must be shorter than {{hasError('password', 'maxlength').requiredLength}}
          </div>
          <div *ngIf="hasError('password', 'mismatchPassword')">
            Password must be equal to confirm password
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirm password</label>
        <input type="password" required class="form-control is-valid" formControlName="confirmPassword" id="confirmPassword" placeholder="Confrim password">
        <div *ngIf="hasErrors('confirmPassword')" class="invalid-feedback">
          <div *ngIf="hasError('confirmPassword', 'required')">
            Confrim password is required
          </div>
          <div *ngIf="hasError('confirmPassword', 'minlength')">
            Password must be longer than {{hasError('confirmPassword', 'minlength').requiredLength}}
          </div>
          <div *ngIf="hasError('confirmPassword', 'maxlength')">
            Password must be shorter than {{hasError('confirmPassword', 'maxlength').requiredLength}}
          </div>
          <div *ngIf="hasError('confirmPassword', 'mismatchPassword')">
            Confirm password must be equal to password
          </div>
        </div>
      </div>
      <p>
        <a [routerLink]="['/authentication', 'login']">Already have account? Login!</a>
      </p>
      <button type="submit" class="btn btn-dark">Signup</button>
    </div>
  </div>
</form>
