<div class="page-title">
  <h1>DISCOVER THE WORLD OF THE TRUE ROMANTIC</h1>
  <nav class="page-title__nav">
    <ul class="page-title__navbar">
      <li class="page-title__nav-item" [routerLink]="['/']">SHOP</li>
      <li class="page-title__nav-item" [routerLink]="['/']">LEARN</li>
      <li class="page-title__nav-item" [routerLink]="['/blog', 'discover']" [routerLinkActive]="'active'">DISCOVER</li>
    </ul>
  </nav>
</div>
<router-outlet></router-outlet>
