<button type="button" class="btn {{buttonStyle}}" (click)="openModal(template)">Change password</button>

<ng-template #template>
  <div class="tao-form">
    <div class="modal-header">
      <h4 class="modal-title pull-left">Change password</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body p-auto">
      <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit($event)">
        <div class="form-group row">
          <label for="newPassword" class="col-12 col-sm-3 col-form-label">New password</label>
          <div class="col-12 col-sm-8">
            <input class="form-control is-valid" formControlName="newPassword" type="password"
                   id="newPassword" placeholder="Enter new password">
            <div *ngIf="hasErrors('newPassword')" class="invalid-feedback">
              <div *ngIf="hasError('newPassword', 'required')">
                Password is required
              </div>
              <div *ngIf="hasError('newPassword', 'minlength')">
                Password must be longer than {{hasError('newPassword', 'minlength').requiredLength}}
              </div>
              <div *ngIf="hasError('newPassword', 'maxlength')">
                Password must be shorter than {{hasError('newPassword', 'maxlength').requiredLength}}
              </div>
              <div *ngIf="hasError('newPassword', 'mismatchPassword')">
                Password must be equal to confirm password
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="confirmNewPassword" class="col-12 col-sm-3 col-form-label">Confirm new password</label>
          <div class="col-12 col-sm-8">
            <input class="form-control is-valid" formControlName="confirmNewPassword" type="password"
                   id="confirmNewPassword"
                   placeholder="Enter confirm password">
            <div *ngIf="hasErrors('confirmNewPassword')" class="invalid-feedback">
              <div *ngIf="hasError('confirmNewPassword', 'required')">
                Password is required
              </div>
              <div *ngIf="hasError('confirmNewPassword', 'minlength')">
                Password must be longer than {{hasError('confirmNewPassword', 'minlength').requiredLength}}
              </div>
              <div *ngIf="hasError('confirmNewPassword', 'maxlength')">
                Password must be shorter than {{hasError('confirmNewPassword', 'maxlength').requiredLength}}
              </div>
              <div *ngIf="hasError('confirmNewPassword', 'mismatchPassword')">
                Password must be equal to confirm password
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <p class="text-center text-danger">{{formError}}</p>
        </div>
        <div class="form-group d-flex justify-content-center">
          <button type="submit" class="btn {{buttonStyle}}">Save</button>
        </div>
      </form>
    </div>
  </div>
</ng-template>
