.articles-container-item__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../../../../../assets/block-border.gif') no-repeat center;
  background-position: -1 -1;
  background-size: 102% 102%;
}

.articles-container-item__image {
  //position: absolute;
  //top: 0;
  //left: 0;
  max-width: 100%;
  max-height: 100%;
  //z-index: -1;
}

.articles-container-item__content {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
}

.articles-container-item__content-title {
  padding: 10px 20px 10px 20px;
  background-color: #ffffff;
  opacity: 0.7;
  border: 2px solid #000000;
}

.articles-container-item__title > * {
  opacity: 1;
}

@media screen and (max-width: 575px) {
  .articles-container-item__image {
    width: 100%;
  }
}
