<div *ngIf="article">
  <img class="articles-container-item__image" [src]="article.image" alt="">
  <div class="articles-container-item__content">
    <div class="articles-container-item__content-title">
      <span>{{article.title}}</span>
    </div>
  </div>
</div>
