<table class="table table-bordered bg-white">
  <thead>
  <tr>
    <th>Id</th>
    <th>Username</th>
    <th>Role</th>
    <th *ngIf="checkPermissions()">Save changes</th>
    <th *ngIf="checkPermissions()">Delete user</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of usersList">
    <ng-template [ngIf]="user">
      <th scope="row">{{user.id}}</th>
      <td>
        <a *ngIf="checkPermissions()" [routerLink]="['/admin', 'user', user.id]">{{user.username}}</a>
        <a *ngIf="!checkPermissions()" [routerLink]="['/admin', 'user', 'premium', user.id]">{{user.username}}</a>
      </td>
      <td>
        <select *ngIf="checkPermissions()" class="form-control" [value]="user.role_id"
                (change)="onRoleChange(user, $event.target.value)">
          <option [value]="role.id" *ngFor="let role of rolesList">{{role.name}}</option>
        </select>
        <span *ngIf="!checkPermissions()">{{user.role.name}}</span>
      </td>
      <td *ngIf="checkPermissions()">
        <button class="btn btn-block btn-link" (click)="onUserUpdate(user)">Save changes</button>
      </td>
      <td *ngIf="checkPermissions()">
        <button class="btn btn-block btn-link" (click)="onUserDelete(user)">Delete user</button>
      </td>
    </ng-template>
  </tr>
  </tbody>
</table>
