<nav class="navbar navbar-expand-lg navbar-light tao-navbar">
  <a [routerLink]="['/']" class="navbar-brand">
    <span>THE ART OF DRESS</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
    aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse" (collapsed)="collapsed($event)" (expanded)="expanded($event)" [collapse]="isCollapsed" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/']" href="#">
          <span class="d-none d-sm-none d-md-none d-lg-block">HOME</span>
          <i class="fa fa-info-circle d-sm-block d-md-block d-lg-none" aria-hidden="true"></i>
        </a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" href="#">
          <span class="d-none d-sm-none d-md-none d-lg-block">MY STYLE</span>
          <i class="fa fa-picture-o d-sm-block d-md-block d-lg-none" aria-hidden="true"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fa fa-shopping-cart d-sm-block d-md-block d-lg-none" aria-hidden="true"></i>
          <span class="d-none d-sm-none d-md-none d-lg-block">STORE</span>
        </a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/blog']">
          <span class="d-none d-sm-none d-md-none d-lg-block">BLOG</span>
          <i class="fa fa-book d-sm-block d-md-block d-lg-none" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
    <ul class="userbar navbar-nav">
      <li class="nav-item" *ngIf="!isAuthenticated">
        <a [routerLink]="['/authentication', 'login']" class="nav-link">LOGIN</a>
      </li>
      <li class="nav-item dropdown" *ngIf="currentUser" dropdown placement="left">
        <a class="nav-link dropdown-toggle" dropdownToggle id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          <img [src]="currentUser.avatar" class="icon-button" alt="">
          <span>{{currentUser.username}}</span>
        </a>
        <div *dropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" [routerLink]="['/admin']" *ngIf="hasPermissions">Admin</a>
          <a class="dropdown-item" *ngIf="canCreateBlog" [routerLink]="['/blog', 'create']">Create blog</a>
          <a class="dropdown-item" [routerLink]="['/settings']">Settings</a>
          <a class="dropdown-item" [routerLink]="['/authentication', 'logout']">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
