
.userbar {
  display: inline-flex;
  margin-left: auto;
  margin-right: 0;
}

.navbar-brand {
  width: 200px;
}

.navbar-brand > img {
  margin: auto;
}

.navbar-brand > span {
  font-weight: bold;
}

.tao-navbar {
  position: relative;
  border: 1px solid #000000;
  background-color: #fff;
  margin-top: 50px;
}

.tao-navbar::after {
  position: absolute;
  content: " ";
  bottom: -55%;
  left: -0.5%;
  width: 101%;
  height: 40px;
  background: url('../../../assets/navbar/Ornamented Header/Ornamented-Header-TOP.png') repeat-x;
  background-size: 20% 100%;
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

.tao-navbar::before {
  position: absolute;
  content: " ";
  top: -55%;
  left: -0.5%;
  width: 101%;
  height: 40px;
  background: url('../../../assets/navbar/Ornamented Header/Ornamented-Header-TOP.png') repeat-x;
  background-size: 20% 100%;
}

.icon-button {
  height: 24px;
  width: 24px;
}

@media screen and (max-width: 991px) {

  .tao-navbar::after {
    display: none;
  }

  .tao-navbar::before {
    display: none;
  }

  .navbar-nav {
    display: inline-flex;
    flex-direction: row;
  }

  .nav-item {
    margin: 0 10px;
  }
  
}
