//@import '../../../../node_modules/froala-editor/css/froala_editor.pkgd.css';
//@import '../../../../node_modules/froala-editor/css/froala_style.css';


.article-modal {
  margin-top: 100px !important;
  min-width: 80% !important;
}

.articles-container {
  display: flex;
  //flex-grow: 1;
  flex-wrap: wrap;
  margin: 0;
  padding: 30px;
  //padding: 20px;
  border: 10px solid rgba(0, 0, 0, 0.7);
  border-left: 1px solid rgba(0, 0, 0, 0.7);
  border-right: 1px solid rgba(0, 0, 0, 0.7);
  border-radius: 3px;
  box-shadow: 0 0 3px 0 black;
  background-color: #fff;
}

.articles-container-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  //min-height: 400px;
  //max-height: 100%;
  //max-width: 100%;
  //width: 100%;
  margin: 5px;

  text-transform: uppercase;
  font-weight: bold;
  box-sizing: content-box;
}


@media screen and (max-width: 575px) {
  .articles-container-item {
    flex-grow: 1;
  }
}
