<section class="articles-container">
  <article app-article-list-item [article]="article"
           (click)="openModal(article)"
           class="articles-container-item"
           *ngFor="let article of articles">
  </article>
</section>
