app-authentication {
  display: block;
  background: none;
  background-color: #fff !important;
  width: 100%;
  height: 100%;
  font-family: "Open Sans", sans-serif !important;

}

#authentication-block {
  height: 100%;
}

.ornament-panel {
  position: relative;
  padding: 20px;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 3px;
}

.ornament-panel__inner-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.authentication-form {
  width: 350px;
  font-size: 18px;
  //font-weight: bold;
}

.authentication-form form {
  margin: 0;
}
