<form [formGroup]="userForm" (ngSubmit)="onSubmit($event)">
  <div class="card">
    <div class="card-header">Updating user #{{this.updatableUser.id}}</div>
    <div class="card-body">
      <div class="form-group row">
        <label for="username" class="col-12 col-sm-2 col-form-label">Username</label>
        <input class="form-control is-valid col-12 col-sm-10" type="text" formControlName="username" id="username"
               placeholder="Enter username">
        <div *ngIf="hasErrors('username')" class="invalid-feedback">
          <div *ngIf="hasError('username', 'required')">
            Username is required
          </div>
          <div *ngIf="hasError('username', 'unique')">
            User with that username already exists
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="email" class="col-12 col-sm-2 col-form-label">Email</label>
        <input class="form-control is-valid col-12 col-sm-10" type="email" formControlName="email" id="email"
               placeholder="Enter email">
        <div *ngIf="hasErrors('email')" class="invalid-feedback">
          <div *ngIf="hasError('email', 'required')">
            Email is required
          </div>
          <div *ngIf="hasError('email', 'email')">
            Email invalid
          </div>
          <div *ngIf="hasError('email', 'unique')">
            User with that email already exists
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="firstName" class="col-12 col-sm-2 col-form-label">First name</label>
        <input class="form-control is-valid col-12 col-sm-10" type="text" formControlName="firstName" id="firstName"
               placeholder="Enter first name">
      </div>
      <div class="form-group row">
        <label for="lastName" class="col-12 col-sm-2 col-form-label">Last name</label>
        <input class="form-control is-valid col-12 col-sm-10" type="text" formControlName="lastName" id="lastName"
               placeholder="Enter last name">
      </div>
      <div class="form-group row">
        <label for="lastName" class="col-12 col-sm-2 col-form-label">Password</label>
        <app-change-password-admin [user]="updatableUser"
                                   (passwordChanged)="onPasswordChange($event)"></app-change-password-admin>
      </div>
      <div class="form-group d-flex flex-column justify-content-center align-items-center">
        <img [src]="updatableUser.avatar" *ngIf="updatableUser.avatar" class="avatar-preview m-2" alt="">
        <app-change-avatar [user]="updatableUser" (avatarUpdated)="onAvatarUpdated($event)"></app-change-avatar>
      </div>
      <div class="d-flex justify-content-end mt-5">
        <button class="btn btn-primary right" type="submit">Save</button>
      </div>
    </div>
  </div>
</form>
