<router-outlet></router-outlet>
<div class="alerts-container">
  <div class="alerts-container__item" *ngFor="let alert of alerts">
    <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" [dismissible]="alert.dismissable">
      <strong>
        {{ alert.msg }}
      </strong>
    </alert>
  </div>
</div>
