@font-face {
  font-family: 'Graton';
  src: url('../assets/fonts/garton.ttf')
}

@font-face {
  font-family: 'Goudy Old Style';
  src: url('../assets/fonts/Goudy Old Style Regular.ttf');
}

body {
  background: url('../assets/landing_page/components/Landing-Page-Content-bg.gif') fixed center no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}

.avatar-preview {
  width: 200px;
  height: 200px;
}

.alerts-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  bottom: 0;
  left: 0;

  height: auto;
  width: 100%;

  z-index: 99999;
}

.alerts-container__item {
  width: 400px;
}


.tao-form {
  border: 10px solid rgba(0, 0, 0, 0.7);
  border-right: 1px solid rgba(0, 0, 0, 0.7);
  border-left: 1px solid rgba(0, 0, 0, 0.7);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.tao-form .btn {
  font-size: 18px;
}

