<form class="tao-form authentication-form" [formGroup]="loginForm" (ngSubmit)="onSubmit($event)">
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">
        Log in system
      </h4>
    </div>
    <div class="card-body">
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control  is-valid" formControlName="email" id="email" aria-describedby="emailHelp" placeholder="Enter email">
        <div *ngIf="hasErrors('email')" class="invalid-feedback">
          <div *ngIf="hasError('email', 'required')">
            Email is required
          </div>
          <div *ngIf="hasError('email', 'email')">
            Email invalid
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control is-valid" formControlName="password" id="password" placeholder="Password">
        <div *ngIf="hasErrors('password')" class="invalid-feedback">
          <div *ngIf="hasError('password', 'required')">
            Password is required
          </div>
          <div *ngIf="hasError('password', 'minlength')">
            Password must be longer than {{hasError('password', 'minlength').requiredLength}}
          </div>
          <div *ngIf="hasError('password', 'maxlength')">
            Password must be shorter than {{hasError('password', 'maxlength').requiredLength}}
          </div>
          <div *ngIf="hasError('password', 'mismatchPassword')">
            Password must be equal to confirm password
          </div>
        </div>
      </div>
      <div class="form-group">
        <p class="text-center text-danger" *ngIf="hasInvalidCredential">
          {{invalidCredentialError}}
        </p>
      </div>
      <p>
        <a [routerLink]="['/authentication', 'signup']">Does not have account? Sign up!</a>
      </p>
      <button type="submit" class="btn btn-dark">Login</button>
    </div>
  </div>
</form>
