<div *ngIf="currentArticle" class="article-detail__popup">
  <div class="article-detail__header">
    <h4 class="article-detail__header-title">{{currentArticle.title}}</h4>
    <button type="button" class="close article-detail__header-close" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="article-detail__body">
    <img [src]="currentArticle.image" class="article-detail__body-info__image" alt="">
    <span>{{currentArticle.text}}</span>
  </div>

  <div class="comments-block__activator" (click)="isCommentsCollapsed = !isCommentsCollapsed"  alt=""></div>
  <div [collapse]="isCommentsCollapsed" (expanded)="onExpand($event)"
       class="comments-block">
    <app-comments-list [comments]="comments"></app-comments-list>
    <app-create-comment [article]="currentArticle" *ngIf="isAuthenticated"
                        (commentaryCreated)="onCommentCreated($event)"></app-create-comment>
  </div>
  <div class="modal-footer">
    <div class="footer-navigation__left">
      <i class="fa fa-heart">2</i>
    </div>
    <div class="footer-navigation__center">
      <button type="button" class="btn btn-link text-dark" [disabled]="!canPrev" (click)="onPrevClicked()">
        <i class="fa fa-arrow-left fa-3x"></i>
      </button>
      <div class="footer-navigation__center-delimiter"></div>
      <button type="button" class="btn btn-link text-dark" [disabled]="!canNext" (click)="onNextClicked()">
        <i class="fa fa-arrow-right fa-3x"></i>
      </button>
    </div>
    <div class="footer-navigation__right">
      <button type="button" class="btn btn-link text-dark footer-navigation__btn"
              (click)="onUpdateClick()" *ngIf="canUpdate">Update</button>
      <button type="button" class="btn btn-link text-dark footer-navigation__btn"
              *ngIf="canDelete" (click)="onDelete()">Delete</button>
      <button type="button" class="btn btn-link text-dark footer-navigation__btn"
              (click)="bsModalRef.hide()">View more</button>
    </div>
  </div>
</div>
