

.article-detail__header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 100px 0;
  position: initial;
}

.article-detail__header-title {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 40px 20px 40px;
  background-color: #ffffff;
  border: 2px solid rgba(0,0,0, 0.7);
}

.article-detail__header-title::before {
  position: absolute;
  width: 80%;
  left: 10%;
  top: -30px;
  content: " ";
  height: 40px;
  background: url('../../../../assets/navbar/Ornamented Header/Ornamented-Header-TOP.png');
  background-size: 100% 100%;
}

.article-detail__header-title::after {
  position: absolute;
  width: 80%;
  left: 10%;
  bottom: -30px;
  content: " ";
  height: 40px;
  background: url('../../../../assets/navbar/Ornamented Header/Ornamented-Header-TOP.png');
  background-size: 100% 100%;
  transform: rotateX(180deg);
}

.article-detail__header-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 32px;
  height: 32px;
  border: 2px solid rgba(0,0,0, 0.7) !important;
  background-color: #fff !important;
  opacity: 1 !important;
  z-index: 10;
}


.article-detail__body {
  position: relative;
  display: block;
  box-sizing: border-box;
  margin: 0 20px 0 20px;
}

.article-detail__body-info__image {
  width: auto;
  height: auto;
  max-width: 50%;
  max-height: 70%;
  float: left;
  margin: 0 10px 10px 0;
}

.article-detail__body-text {
  display: block;
  width: 60%;
  margin-left: 10px;
}

.article-detail__body-info {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 50%;
  float: left;
  //max-height: 70%;
}

.article-detail__body-info__about {
  padding: 0;
  margin: 10px;
  list-style: none;
}

.article-detail__body-text > * {
  width: 100%;
}

.article-detail__popup {
  //position: relative;
  border: 10px solid rgba(0,0,0, 0.7);
  border-left: 0;
  border-right: 0;
  display: flex;
  flex-direction: column;
}

.comments-block__activator {
  display: block;
  width: 150px;
  height: 40px !important;
  background: url('../../../../assets/navbar/Ornamented Header/Ornamented-Header-TOP.png');
  background-size: 100% 100%;
  transform: rotateX(180deg);
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.comments-block {
  padding: 30px;

}

.comments-block__input-block__input {
  border: 1px solid #000000;
}

.comments-block__input-block__button {
  border: 1px solid #000000;
  background-color: rgba(0,0,0, 0.1);
  color: #000000;
}

.footer-navigation__center {
  display: flex;
  width: 200px;
  justify-content: space-between;
  margin: auto !important;
}

.footer-navigation__center-delimiter {
  height: auto;
  width: 1px;
  margin: 15px;
  background-color: rgba(0, 0, 0, 0.7);
}

.footer-navigation__right {
  position: absolute;
}

.footer-navigation__left {
  position: absolute;
  left: 0;
  font-size: 20px;
  margin: 0 0 0 15px;
}

.footer-navigation__btn {
  font-size: 20px;
}

@media screen and (max-width: 575px){
  .article-detail__header-title::before {
    display: none;
  }

  .article-detail__header-title::after {
    display: none;
  }

  .article-detail__header {
    padding: 10px 20px;
  }


}
